*{margin: 0;
padding: 0;}

html, body {
    padding: 0; margin : 0;
}
h1{
    color: red !important;
}

body h1{
    color: black;
}
html body h1{
    color: coral;
}

.thecha{
    color: red;
} //class
#
